@mixin textOverflow() {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
@mixin textColor() {
	color: $theme-color-default;
	[data-theme="1"] & {
		color: $theme-color-1;
	}
	[data-theme="2"] & {
		color: $theme-color-2;
	}
	[data-theme="3"] & {
		color: $theme-color-3;
	}
}
@mixin bgColor() {
	background-color: $theme-color-default;
	[data-theme="1"] & {
		background-color: $theme-color-1;
	}
	[data-theme="2"] & {
		background-color: $theme-color-2;
	}
	[data-theme="3"] & {
		background-color: $theme-color-3;
	}
}
@mixin borderColor() {
	border-color: $theme-color-default;
	[data-theme="1"] & {
		border-color: $theme-color-1;
	}
	[data-theme="2"] & {
		border-color: $theme-color-2;
	}
	[data-theme="3"] & {
		border-color: $theme-color-3;
	}
}